/** Main tags (tag_name)  */
* {
    box-sizing: border-box;
}

body{
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	unicode-bidi: embed;
}

img{
	max-width: 100%;
    max-height: 100%;
}

.default{
	font-size: 25px;
	font-style: sans-serif;
	width: 100%;
}

.MenuContainer{
	height: calc(100vw * (2.3/20));
	background-color: green;
}

.logoMenu{
	max-width: 10vw;
	max-height: 10vh;
	margin: 4vw 0vw 0vw 0vw;
}

#logo{
	float: left;
	width: 10vw;
	height: calc(100vw * (1.9/20));
	margin: 1vw 1vw 1vw 1vw;
	border: 1px dashed black;
}

#divp{
	float: right;
	margin: 2.8vw 0vw 2.8vw 0vw;
	padding: 0vw 0vw 0vw 0vw;
	width: 86vw;
	text-align: center;
	font-size: 3vw;
	font-family: 'Gloria Hallelujah', cursive;
	background-color: green;	
	color: white;
}

#C{
	color: red;
}

#P{
	color: orange;
}

#A{
	color: blue;
}

#V{
	color: purple;
}

#O{
	color: pink;
}

/** End of Menu Container **/

.ulMenu{
	padding: 0px;
	margin: 0px;
	width: 100vw;
}

.ulMenu li{
	display: inline;
	font-family: Arial;
 	font-size: 15px;
 	text-decoration: none;
 	float: left;
 	padding: 30px;
 	background-color: #2175bc;
 	color: #fff;
 }