*{
	box-sizing: border-box;
}

a{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.5vw;
	text-align: center;
	width: 33.33vw;
	height: auto;
}

body{
	margin: 0px;
	padding: 0px;
	max-width: 100%;
	max-height: 100%;
}

img{
	max-width: 100%;
    max-height: 100%;
    float: left;
}

h1{
	margin: 0px;
	padding: 0px;
	font-size: 4vw;
}
span{
	margin: 0px;
	padding: 0px;
}

button{
	font-family: 'Gloria Hallelujah', cursive;
}

.head_box{
	width: 100vw;
	height: 9vw;
	margin: 0px;
	padding: 0px;
	background-color: green;
}

.logo_box{
	float: left;
	position: relative;
	top: 3vw;
	left: 4vw;
	width: 11vw;
	height: 2vw;
	margin: 0px;
	padding: 0px;
}

.nom_pag{
	float: left;
	position: relative;
	top: .25vw;
	left: 15vw;
	width: 50vw;
	height: auto;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
} 

#c1, #a1, #l1{
	color: red;
}

#c2, #u1, #l2{
	color: orange;
}

#a2, #d1, #o1{
	color: blue;
}

#r1, #d2, #e1{
	color: purple;
}

#f1, #i1, #g1{
	color: pink;
}

#u2, #r2, #a3{
	color: purple;
}

#s1{
	color: blue;
}

/* Navigation menu : Area */
.NavMenu{
	padding: 0vw;
	margin: 0vw;
	width: 100vw;
	position: relative;
	display: inline-block;
}

.DropDownBtnA{
	background-color: #2175bc;
	color: white;
	margin: 0vw;
	padding: 1.5vw 13vw 1.5vw 13vw;
	font-size: 2vw;
	border: none;
	cursor: pointer;
	width: 33.33vw;
	float: left;
}

.DropDownBtnA:hover, .DropDownBtnA:focus{
	background-color: #2980B9;
}

.DropDownContentA{
	display: none;
	float: left;
	position: absolute;
	margin: 7vw 0vw 0vw 0vw;
	background-color: #f1f1f1;
	min-width: 33.33vw;
	overflow: auto;
	z-index: 1;
}

.DropDownContentA a{
	color: black;
	padding: 2vw 1vw;
	text-decoration: none;
	display: block;
}

.DropDownContentA a:hover {
	background-color: #ddd;
}

.NavMenu a:hover {
	background-color: #dd;
}

.show{
	display:block;
}

/* Navigation Menu: Perimetro */
.DropDownBtnP{
	background-color: #2175bc;
	color: #fff;
	padding: 1.5vw 13vw 1.5vw 13vw;
	font-size: 2vw;
	border: none;
	cursor: pointer;
	width: 33.34vw;
	float: left;
}

.DropDownBtnP:hover, .DropDownBtnP:focus{
	background-color: #2980B9;
}

.DropDownContentP{
	display: none;
	float: left;
	position: absolute;
	margin: 7vw 0vw 0vw 33.33vw;
	background-color: #f1f1f1;
	min-width: 33.34vw;
	z-index: 1;
}

.DropDownContentP a{
	color: black;
	padding: 2vw 1vw;
	text-decoration: none;
	display: block;
}

.DropDownContentP a:hover {
	background-color: #ddd;
}

.show{
	display: block;
}

/* Navigation Menu : Volumen */
.DropDownBtnV{
	background-color: #2175bc;
	color: #fff;
	margin: 0;
	padding: 1.5vw 13vw 1.5vw 13vw;
	font-size: 2vw;
	border: none;
	cursor: pointer;
	width: 33.33vw;
	float: left;
}

.DropDownBtnV:hover, .DropDownBtnV:focus{
	background-color: #2980B9;
}

.DropDownContentV{
	display: none;
	position: absolute;
	float: left;
	margin: 7vw 0vw 0vw 66.67vw;
	background-color: #f1f1f1;
	min-width: 33.33vw;
	z-index: 1;
}

.DropDownContentV a{
	color: black;
	padding: 2vw 1vw;
	text-decoration: none;
	display: block;
}

.DropDownContentV a:hover {
	background-color: #ddd;
}

.show{
	display: block;
}

.objContainer{
	margin: 0vw;
	padding: 0vw;
	position: relative;
	float: left;
	width: 100vw;
	height: 70vw;
}

.mostradorContenido{
	border: 1vw solid black;
	float: left;
	margin: 2vw;
	padding: 2vw;
	width: 94vw;
	height: 64vw;
}

.objCalculador{
	margin: 1vw 0vw 0vw 0vw;
	padding: 0vw;
	position: relative;
	float: left;
	width: 100vw;
	height: 10vw;
}

.mostradorCalculador{
	border: 1vw solid black;
	float: left;
	margin: 1vw 1vw 1vw 2vw;
	padding: 0vw;
	width: 80vw;
	height: 6vw;
}

.mostradorBoton{
	border: 1vw solid black;
	float: left;
	margin: 1vw 1vw 1vw 1vw;
	padding: 0vw;
	width: 12vw;
	height: 6vw;
}

.mostradorCalculador p{
	margin: .5vw;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: left;
}

.mostradorBoton p{
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	margin: .5vw;
}
