/** Main tags (tag_name)  */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 2vw;
    color: white;
}


/** Clases (.) */

.MenuObject{
	display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.MenuObject a{
	color: white;
	text-decoration: none;
}

li.MenuObject a:hover{
	background-color: blue;
}

/** IDs (#) */
#ulMenu{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#liMenuFormat{
	float: left;
	font-size: 2vw;
}
